@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0F0F0F;
    --foreground: #ededed;
  --icon-color: #f43f5e
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto shadow-lg bg-zinc-900 text-icon rounded-3xl
      hover:rounded-md hover:bg-icon hover:text-secondary
      transition-all duration-100 ease-linear cursor-pointer

  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-secondary bg-zinc-900 text-sm font-bold
      transition-all duration-100 origin-left scale-0
  }

  .sidebar-menu {
    @apply absolute w-12 h-auto p-2 m-2 min-w-fit bottom-[-2px] scale-0 bg-zinc-900 text-sm transition-all duration-100 left-14 rounded-md origin-bottom-left
      flex items-center justify-center flex-col-reverse
  }

  .focused {
    @apply rounded-md bg-icon text-secondary
  }

  .opened {
    @apply scale-100
  }

  .invalid {
    @apply border-[1px] border-icon
  }

  .dash-main {
    
    @apply grid
  }
}